**/node_modules/
**/.next/
**/out/

public/favicons/
public/favicon.ico
public/robots.txt
public/sitemap*.xml

next-env.d.ts

.env.development*
.env.production*
.env.local*
.env

src/constants/additionalTags.ts