---
import { Layout } from "@/layouts";
import { cn } from "@/utils";
---

<Layout>
  <main
    class={cn(
      "p-4",
      "flex flex-col items-center justify-center",
      "h-screen w-full"
    )}
  >
    <h1 class={cn("text-base md:text-3xl font-medium text-center text-white")}>
      <span class={cn("block", "text-4xl md:text-6xl", "mb-4")}> 🚧 </span>
      Under Construction
    </h1>
  </main>
</Layout>
